body {
  margin-left: 50px;;
  margin-right: 50px;
}

header {
    background-color: #C7DDEA;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

h1.header {
      position: relative;
      padding: 163px;
      font-family: Frank Ruhl Libre;
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 100%;
      text-align: center;
      /* or 45px */

      letter-spacing: -0.02em;

}


img.gubbe {
    vertical-align: middle;
    border-style: none;
    height: 351px;
    position: relative;
    padding: 17px 400px;
    margin-top: -424px;
    margin-left: 679px;
}


nav {

  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;

}

nav a {

  color: #000000;
  opacity: 0.4;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.02em;


}

ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.02em;


}









.contact-form {
    width: 100%;
    height: 544px;
    background-color: #A9A19E;
    display: flex;
    align-items: center;
    justify-content: center;
  }



h1.form-titel {
    position: absolute;
    width: 314px;
    height: 140px;
    left: 297px;
    top: 514px;

    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    /* or 45px */

    letter-spacing: -0.02em;

    color: #FFFFFF;


}

div.form-group {
margin-bottom: -4rem;
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 100%;





}

input#exampleInputEmail1.form-control {
  position: absolute;
  width: 334px;
  height: 40px;
  left: 720px;
  top: 544px;

}

 textarea#exampleFormControlTextarea2.form-control {
   position: absolute;
   width: 334px;
   height: 166px;
   left: 720px;
   top: 634px;

}




label#YourEmail {
  /* Your email */

  position: absolute;
  width: 167px;
  height: 30px;
  left: 720px;
  top: 514px;
  color: #fff;
  opacity: 0.7;

}

label#YourMessage {
  /* Your email */

  position: absolute;
  width: 167px;
  height: 30px;
  left: 720px;
  top: 604px;
  color: #fff;
  opacity: 0.7;

}

button#buisnessCard.btn.btn-light {
  position: absolute;
  width: 134px;
  height: 39px;
  left: 923px;
  top: 832px;

  background: #FFFFFF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  }


.contact-information {
  width: 100%;
  height: 407px;
}

img.map {
  width: 100%;


}


.visit-card {
    background-color: #FAB131;
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: -511px;
    left: 100px;
    padding:17px;
}

h1.contact-details-titel {

font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
color:#fff;
}

p.contact-details-text {

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
/* or 171% */


color: rgba(255, 255, 255, 0.8);

}



footer {

  background-color: #777574;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 100%;
}

@media sceen and (max-width:1059px) {
  body{

  }
}

@media screen and (max-width:1059px){
  nav {
  display:none !important;

  }
}

@media screen and (max-width:1059px){
  ul.menu {
  color:red;

  }
}

@media screen and (max-width:1059px){
  header {
  width: 375px;

  }
}

@media screen and (max-width:1059px){
  .form-group {
  color: #fff;


  }
}


@media screen and (max-width:1059px){
  .contact-form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height:724px;


  }
}

@media screen and (max-width:1059px){
  h1.form-titel {
    position: absolute;
      width: 314px;
      height: 140px;
      left: 50px;
      top: 514px;
      font-family: Frank Ruhl Libre;
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #FFFFFF;

  }
}



@media screen and (max-width:1059px){
  img.map {
display:none;


  }
}

@media screen and (max-width:1059px){
  footer {
    height: 340px;
    width: 375px;


  }
}
